# This is the local conversation relay node server .env file.
PORT=3001

# Twilio Incoming Websocket
TWILIO_WEBSOCKET_URL=wss://<your-ngrok-domain>/conversation-relay
# ^Be sure to bookend your ngrok domain with 'wss://' (vs 'http://') and '/conversation-relay' to correctly route your ngrok messages to the right local endpoint
# If deploying to heroku or another cloud server, this would be the cloudserver domain

# SEGMENT
SEGMENT_SPACE=<space>
SEGMENT_TOKEN=<token>
SEGMENT_WRITE_KEY=<write-key>
SEGMENT_WRITE_KEY_EVENTS=<events-write-key>

# OPENAI
OPENAI_API_KEY=<open-ai-key>
OPENAI_MODEL=gpt-4o-mini
#^Can be a model of your choice

# COAST
COAST_WEBHOOK_URL=<coast-webhook-url>
